{% extends "layouts/base.html" %}

{% block title %} Billing {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<link rel="stylesheet" href="\static\assets\css\progressbar.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock stylesheets %}

{% block content %}


<div class="row">
    <div class="col-md-7 mt-4">
      <div class="card">
        <div class="card-header pb-0 px-3">
          <h6 class="mb-0" style="color: crimson;">Current Health Condition <br></h6>
        </div>
        <div class="card-body pt-4 p-3">
          
          <div class="CON1">
            
            <div class="QN">
                <h6> Details about your headache: </h6><br>
                <label for="headache">How long have you been expiriencing it? </label>
                <select style="margin-left: 25%;" name="headache" id="headache">
                    <option value="volvo">Less than a day</option>
                    <option value="saab">1 day</option>
                    <option value="mercedes">1 - 3 days</option>
                    <option value="audi">More than 3 days</option>
                </select>
                <label for="headache">Medication used : </label>
                <input style="margin-left: 40%;" type="text" id="headache" name="headache"><br>

                <label for="headache">What do you think caused it? </label>
                <input style="margin-left: 30%;" type="text" id="headache" name="headache"><br><br><hr>
            </div> 
          </div>
          <div class="CON1">
            <div class="QN">
                <h6> Details about your cold: </h6><br>
                <label for="headache">How long have you been expiriencing it? </label>
                <select style="margin-left: 25%;" name="headache" id="headache">
                    <option value="volvo">Less than a day</option>
                    <option value="saab">1 day</option>
                    <option value="mercedes">1 - 3 days</option>
                    <option value="audi">More than 3 days</option>
                </select>
                <label for="headache">Medication used : </label>
                <input style="margin-left: 40%;" type="text" id="headache" name="headache"><br>

                <label for="headache">What do you think caused it? </label>
                <input style="margin-left: 30%;" type="text" id="headache" name="headache"><br><br><hr>
            </div>
            
          <div class="CON1">
            
            <div class="QN">
                <h6> Details about your fever: </h6><br>
                <label for="headache">How long have you been expiriencing it? </label>
                <select style="margin-left: 25%;" name="headache" id="headache">
                    <option value="volvo">Less than a day</option>
                    <option value="saab">1 day</option>
                    <option value="mercedes">1 - 3 days</option>
                    <option value="audi">More than 3 days</option>
                </select>
                <label for="headache">Medication used : </label>
                <input style="margin-left: 40%;" type="text" id="headache" name="headache"><br>

                <label for="headache">What do you think caused it? </label>
                <input style="margin-left: 30%;" type="text" id="headache" name="headache"><br><br><hr>
            </div>
            
          <div class="CON1">
            
            <div class="QN">
                <h6> Details about your loose motions: </h6><br>
                <label for="headache">How long have you been expiriencing it? </label>
                <select style="margin-left: 25%;" name="headache" id="headache">
                    <option value="volvo">Less than a day</option>
                    <option value="saab">1 day</option>
                    <option value="mercedes">1 - 3 days</option>
                    <option value="audi">More than 3 days</option>
                </select>
                <label for="headache">Medication used : </label>
                <input style="margin-left: 40%;" type="text" id="headache" name="headache"><br>

                <label for="headache">What do you think caused it? </label>
                <input style="margin-left: 30%;" type="text" id="headache" name="headache"><br><br><hr>
            </div>
            
          <div class="CON1">
            
            <div class="QN">
                <h6> Details about your body pains: </h6><br>
                <label for="headache">How long have you been expiriencing it? </label>
                <select style="margin-left: 25%;" name="headache" id="headache">
                    <option value="volvo">Less than a day</option>
                    <option value="saab">1 day</option>
                    <option value="mercedes">1 - 3 days</option>
                    <option value="audi">More than 3 days</option>
                </select>
                <label for="headache">Medication used : </label>
                <input style="margin-left: 40%;" type="text" id="headache" name="headache"><br>

                <label for="headache">What do you think caused it? </label>
                <input style="margin-left: 30%;" type="text" id="headache" name="headache"><br><br><hr>
            </div>
          
          <div style="float:left ;">
            <div class="bot">
              <button type="button" class="btn btn-outline-primary" id="subbut" onclick="calcc()" style="margin-left: 130%;">SUBMIT</button>
            </div>
            <h6 id="ANSS">YOUR SCORE IN CURRENT HEALTH IS :</h6>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="\static\assets\js\progressbar.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
{% endblock javascripts %}
