{% extends "layouts/base.html" %}

{% block title %} Billing {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<link rel="stylesheet" href="/static/assets/css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<div class="col-md-12 mb-lg-0 mb-4">
  <div class="card mt-4">
    <div class="card-header pb-0 p-3">
      <div class="row">
        <div class="col-6 d-flex align-items-center">
          <h6 class="mb-0">SURVEY METHODS</h6>
        </div>
      </div>
    </div>
    <div class="card-body p-3">
      <div class="row">
        <div class="col-md-6 mb-md-0 mb-4">
          <div class="card card-body border card-plain border-radius-lg d-flex align-items-center flex-row">
            <h6 class="mb-0" style="color: CRIMSON;margin-right:5%;align-items:center;"> SELECT YOUR DOMAIN HERE:   </h6>
                   
                    <div class="btn-group">
                       <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                              CLICK ME
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="/infrastructure.html">INFRASTRUCTURE</a>
                          <a class="dropdown-item" href="/health.html">HEALTH</a>
                          <a class="dropdown-item" href="/cultural.html">CULTURAL DIVERSITY</a>
                          <a class="dropdown-item" href="/academics.html">ACADEMICS</a>
                          <a class="dropdown-item" href="/administration.html">ADMINISTRATION</a>
                          <a class="dropdown-item" href="#">DOMAIN 6</a>  
                          
                        </div>
                      </div>

  
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-body border card-plain border-radius-lg d-flex align-items-center flex-row">
            <h6 class="mb-0" style="color: CRIMSON;margin-right:5%;align-items:center;"> SELF ASSESSMENT:   </h6>
                       
                        <div class="btn-group">
                           <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                                  CLICK ME
                            </button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="/infrastructure.html">PSYCHOLOGICAL WELLBEING</a>
                              <a class="dropdown-item" href="/health.html">EMOTIONAL INTELLIGENCE</a>
                              <a class="dropdown-item" href="/cultural.html">LOGICAL THINKING</a>
                              <a class="dropdown-item" href="/creative.html">CREATIVE THINKING</a>
                              <a class="dropdown-item" href="/memory.html">MEMORY ASSESSMENT</a>
                              </div>
                          </div>
                          
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12 mt-4">
      <div class="card">
        <div class="card-header pb-12 px4">
          <h6 class="mb-0" style="color: crimson;">LOGICAL INTELLIGENCE</h6>
        </div>
        <div class="card-body pt-10 p-3">
          
            <div class="start_btn"><button>Start Quiz</button></div>

            <!-- Info Box -->
            <div class="info_box">
                <div class="info-title"><span>Some Rules of this Quiz</span></div>
                <div class="info-list">
                    <div class="info">1. You will have only <span>15 seconds</span> per each question.</div>
                    <div class="info">2. Once you select your answer, it can't be undone.</div>
                    <div class="info">3. You can't select any option once time goes off.</div>
                    <div class="info">4. You can't exit from the Quiz while you're playing.</div>
                    <div class="info">5. You'll get points on the basis of your correct answers.</div>
                </div>
                <div class="buttons">
                    <button class="quit">Exit Quiz</button>
                    <button class="restart">Continue</button>
                </div>
            </div>
        
            <!-- Quiz Box -->
            <div class="quiz_box">
                <header>
                    <div class="title">Awesome Quiz Application</div>
                    <div class="timer">
                        <div class="time_left_txt">Time Left</div>
                        <div class="timer_sec">15</div>
                    </div>
                    <div class="time_line"></div>
                </header>
                <section>
                    <div class="que_text">
                        <!-- Here I've inserted question from JavaScript -->
                    </div>
                    <div class="option_list">
                        <!-- Here I've inserted options from JavaScript -->
                    </div>
                </section>
        
                <!-- footer of Quiz Box -->
                <footer>
                    <div class="total_que">
                        <!-- Here I've inserted Question Count Number from JavaScript -->
                    </div>
                    <button class="next_btn">Next Que</button>
                </footer>
            </div>
        
            <!-- Result Box -->
            <div class="result_box">
                <div class="icon">
                    <i class="fas fa-crown"></i>
                </div>
                <div class="complete_text">You've completed the Quiz!</div>
                <div class="score_text">
                    <!-- Here I've inserted Score Result from JavaScript -->
                </div>
                <div class="buttons">
                    <button class="restart">Replay Quiz</button>
                    <button class="quit">Quit Quiz</button>
                </div>
            </div>
        
           
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
